<div class="home-page">
  <div class="home-page__content content">
    <ng-container *ngIf="pageStep === PageStepEnum.ConnectWallet">
      <h1 class="content__title">Connect your wallet to start!</h1>

      <button class="button button--primary content__connect-wallet-button" (click)="connectWalletHandler()">
        Connect Metamask
      </button>
    </ng-container>

    <ng-container *ngIf="pageStep === PageStepEnum.InitiateTransaction">
      <h1 class="content__title">Confirm transaction</h1>

      <div class="transaction content__transaction">
        <p class="transaction__send-text">Approve</p>
        <p class="transaction__amount">{{ wei }} wei</p>
        <p class="transaction__to-text">For</p>
        <p class="transaction__receiver">{{ randomAddress }}</p>
      </div>

      <button class="button button--primary content__connect-wallet-button" (click)="confirmTransaction()">
        Confirm
      </button>
    </ng-container>

    <ng-container *ngIf="pageStep === PageStepEnum.TransactionHistory && latestTransaction">
      <h1 class="content__title">Transaction details</h1>

      <div class="transaction content__transaction">
        <p class="transaction__info-text">
          Transaction hash: {{ latestTransaction.hash }}
        </p>
        <p class="transaction__info-text">From: {{ latestTransaction.from }}</p>
        <p class="transaction__info-text">To: {{ latestTransaction.to }}</p>
        <p class="transaction__info-text">
          Nonce: {{ latestTransaction.nonce }}
        </p>
        <p class="transaction__info-text">
          Value: {{ latestTransaction.value.toString() }}
        </p>
        <p class="transaction__info-text">
          Gas price: {{ latestTransaction.gasPrice?.toString() }}
        </p>
        <p class="transaction__info-text">
          Etherscan:
          <a [href]="'https://goerli.etherscan.io/tx/' + latestTransaction.hash" target="_blank">goerli.etherscan.io</a>
        </p>
      </div>

      <button class="button button--primary content__connect-wallet-button" (click)="getDetails()">
        Update
      </button>
    </ng-container>
  </div>
</div>
